@import "../../../../theme/mixings.scss";

.mainContainer {
    width: 60%;
    margin: auto;

    .imageContainer {
        position: relative;
        z-index: 999;
        .image {
            width: 100%;
        }

        .omenImage {
            width: 100%;
            position: absolute;
            z-index: -1;
        }
    }

    .paragraph {
        text-align: center;
        font-style: bold;
        font-weight: 500;
        font-size: 30.1834px;
        line-height: 40px;
        letter-spacing: -0.05em;
    }

    @include for-size(phone-only) {
        width: 80%;

         .paragraph{
            font-size: 18.1834px;
            line-height: 30px;
            font-weight: 400;
            letter-spacing: -0.01em;
        }
    }

    @include for-size(tablet-portrait-up) {
        width: 75%;

        p {
            font-size: 18.1834px;
            line-height: 30px;
            font-weight: 300;
            letter-spacing: -0.08em;
        }
    }
}

.middleContainer{
    height: 1300px;
}

.bottomContainer {
    width: 100%;
    margin: auto;
    position: absolute;
    bottom: 50px;

    img {
        width: 100%;
    }

    .textContainer {
        display: flex;
        justify-content: center;
        text-align: center;
        position: relative;

        .text {
            font-size: 30.1834px;
            color: #970000;
            font-weight: 400;
        }
    }

    @include for-size(phone-only) {
        width: 98%;
        margin-top: 6rem;

        .textContainer {

            .text {
                font-size: 13px;
                font-weight: 500;
            }
        }
    }

    @include for-size(tablet-portrait-up) {
        width: 98%;
        margin-top: 6rem;

        .textContainer {

            .text {
                font-size: 1.4rem;
                font-weight: 500;
            }
        }
    }
}