@font-face {
  font-family: myFirstFont;
  src: url("./assets/bevietnam/BeVietnamPro-Regular.ttf");
  /* IE9 Compat Modes */
}

:root {
  --fontColor: #E38E74;
  --white: white;
  --black: black;
}

* {
  color: var(--fontColor);
}

.App {
  background: linear-gradient(rgb(83, 9, 9) 25%, rgba(70, 17, 0, 0.9) 44.33%, rgba(41, 20, 0, 0.9) 54.2%, rgb(0, 0, 0) 74.25%);
  min-height: 100vh;
}